<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
</head>
<body>
<form th:action="@{/v4/startCreate}">
        <button type="submit">Create</button>
</form>
<form th:action="@{/v4/filter}">
    <label for="productMark">Mark:
        <input class="input" id="productMark" type="text" name="productMark">
    </label><br>
    <label for="productModel">Model:
        <input class="input" id="productModel" type="text" name="productModel">
    </label><br>
    <label for="price">Price:
        <input class="input" id="price" type="text" name="price">
    </label><br>
    <button type="submit">Filter</button>
</form>
<form th:action="@{/v4}">
    <button type="submit">Remove filter</button>
</form>
<div th:each="product : ${products}">
    <a th:href="@{'/v4/' + ${product.id}}" th:text="|Id: ${product.id}|">Product</a>
    <p th:text="|Mark: ${product.productMark}|">Product</p>
    <a th:href="@{'/v4/' + ${product.id}}" th:text="|Model: ${product.productModel}|">Product</a>
    <p th:text="|Price: ${product.price}|">Price</p>
    <p th:text="|Amount: ${product.amount}|">Amount</p>
    <p th:text="|Reserved: ${product.reserved}|">Reserved</p>
    <div th:if="${product.productImage}">
        <a th:href="@{'/v4/' + ${product.id}}">
            <img th:src="@{/api/v4/{id}/image(id=${product.id})}" width="300">
        </a>
    </div>
    <form th:action="@{/v4/{id}/startUpdate(id=${product.id})}">
            <button type="submit">Change product</button>
    </form>
</div>
</body>
</html>