<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
<div th:insert="~{fragment::logout}"></div>
<form th:action="@{/v3/storage/filter?id=${idUser}}">
    <label for="productMark">Mark:
        <input class="input" id="productMark" type="text" name="productMark">
    </label><br>
    <label for="productModel">Model:
        <input class="input" id="productModel" type="text" name="productModel">
    </label><br>
    <label for="price">Price:
        <input class="input" id="price" type="text" name="price">
    </label><br>
    <button type="submit">Filter</button>
</form>
<div th:insert="~{fragment::home}"></div>
<div th:each="product : ${products}">
    <a th:href="@{'/v3/storage/' + ${product.id}}" th:text="|Id: ${product.id}|">Product</a>
    <p th:text="|Mark: ${product.productMark}|">Product</p>
    <a th:href="@{'/v3/storage/' + ${product.id}}" th:text="|Model: ${product.productModel}|">Product</a>
    <p th:text="|Price: ${product.price}|">Price</p>
    <p th:text="|Amount: ${product.amount}|">Amount</p>
    <p th:text="|Reserved: ${product.reserved}|">Reserved</p>
    <form th:action="@{/v3/storage/{id}/reservation(id=${product.id})}" method="post">
        <label for="reserved">Reservation:
            <input id="reserved" type="text" name="amount" th:value="0">
            <button type="submit">Reserved</button>
        </label><br>
    </form>
    <div th:if="${product.productImage}">
        <a th:href="@{'/v3/storage/' + ${product.id}}">
            <img th:src="@{/v3/image/{id}/findImage(id=${product.id})}" width="300">
        </a>
    </div>
    <form th:action="@{/v3/storage/{id}/sale(id=${product.id})}" method="post">
        <label for="buy">Buy:
            <input id="buy" type="text" name="amount" th:value="0">
            <button type="submit">Buy</button>
        </label><br>
    </form>
</div>
<div th:if="${errors}">
    <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
</div>
</body>
</html>